/full/compile.out
*~
*.aux
*.blg
/full/thesis.aux
/full/thesis.blg
/full/thesis.lof
/full/thesis.log
/full/thesis.lot
/full/thesis.out
/full/thesis.tex~
/proposal/.DS_Store
*.bak
*swp
*.swp
/.DS_Store
*.log
/proposal/x.log
/full/multicast/.reliable-mcast.tex.swm
/full/multicast/.reliable-mcast.tex.swl

/full/pmu/.DS_Store
/full/pmu/.zero-injection.tex.swo
/full/figs/.DS_Store

/full/bib.out
